<div class="courses-panel">
  <button class="btn" (click)="onAddCourse()">Add Course</button>

  <button class="btn">Incrementing</button>

  <mat-tab-group>
    <mat-tab label="Beginners">
      <!-- Precisamos passar o valor do input e não somente a referencia do signal -->
      <courses-card-list
        (courseUpdated)="onCourseUpdated($event)"
        (courseDeleted)="onCourseDeleted($event)"
        [data]="beginnersCourses()"
      />
    </mat-tab>

    <mat-tab label="Advanced">
      <courses-card-list
        (courseUpdated)="onCourseUpdated($event)"
        (courseDeleted)="onCourseDeleted($event)"
        [data]="advancedCourses()"
      />
    </mat-tab>
  </mat-tab-group>
</div>
